@font-face {
    font-family: 'font';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/font.eot'); /* IE9 Compat Modes */
    src: url('../fonts/font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/font.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/font.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/font.ttf')  format('truetype'); /* Legacy iOS */
}